body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

main {
  margin: 2rem;
  font-size: 1.1rem;
}

/* Cards */
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.btn-warning:hover {
  background-color: #e7ae01;
}

/* Footer */
#footer {
  background-color: #F8F9FA;
  padding-bottom: 2rem;
}

#box-foot {
  display: flex;
  text-align: center;
}

#about h4, #tutorials h4 {
  font-weight: bold;
  font-size: 1.8rem;
}

#about p, #tutorials a {
  font-size: 1.2rem;
  text-decoration: none;
}

/* Responsivo */
@media (max-width: 767px) {
  main {
    font-size: 15px;
  }
  .d-flex {
    flex-direction: column;
  }

  .me-3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .fs-4 {
    font-size: 2rem;
  }

  .fs-5 {
    font-size: 1.5rem;
  }
}