:root {
  --card-0-color: #A3A3AA;
  --card-1-color: #E69F72;
  --card-2-color: #379C8C;
  --card-3-color: #456BA4;
  --card-btn-0: #7C7C85;
  --card-btn-1: #CE8B64;
  --card-btn-2: #2b8374;
  --card-btn-3: #3A6081;
}

* {
  font-family: "Lato", sans-serif;
}

body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

main {
  margin: 2rem;
  font-size: 1.1rem;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Cards */
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}
/* Card Free */
.border-free {
  border-color: var(--card-0-color);
}

#header-free {
  background-color: var(--card-0-color);
}

#btn-free {
  background-color: var(--card-0-color);
}

#btn-free:hover {
  background-color: var(--card-btn-0);
}

/* Card Mensal */
.border-month {
  border-color: var(--card-1-color);
}

#header-month {
  background-color: var(--card-1-color);
}

#btn-month {
  background-color: var(--card-1-color);
}

#btn-month:hover {
  background-color: var(--card-btn-1);
}
/* Card Semestral */
.border-semester {
  border-color: var(--card-2-color);
}

#header-semester {
  background-color: var(--card-2-color);
}

#btn-semester {
  background-color: var(--card-2-color);
}

#btn-semester:hover {
  background-color: var(--card-btn-2);
}

/* Card Anual */
.border-year {
  border-color: var(--card-3-color);
}

#header-year {
  background-color: var(--card-3-color);
}

#btn-year {
  background-color: var(--card-3-color);
}

#btn-year:hover {
  background-color: var(--card-btn-3);
}

/* Footer */
#footer {
  background-color: #F8F9FA;
  padding-bottom: 2rem;
}

#box-foot {
  display: flex;
  text-align: center;
}

#about h4, #tutorials h4 {
  font-weight: bold;
  font-size: 1.8rem;
}

#about p, #tutorials a {
  font-size: 1.2rem;
  text-decoration: none;
}

/* Responsivo */
@media (max-width: 767px) {
  main {
    font-size: 15px;
  }

  #img-m {
    width: 100%;
    height: auto;
  }

  #subtitle-m {
    display: none;
  }

  .d-flex {
    flex-direction: column;
  }

  .me-3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .fs-4 {
    font-size: 2rem;
  }

  .fs-5 {
    font-size: 1.5rem;
  }
}