:root {
  --text-color: #212529;
  --card-0-color: #a3a3aa;
  --card-1-color: #e69f72;
  --card-2-color: #379c8c;
  --card-3-color: #456ba4;
  --card-btn-0: #7c7c85;
  --card-btn-1: #ce8b64;
  --card-btn-2: #2b8374;
  --card-btn-3: #3a6081;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--card-btn-0);
}

::-webkit-scrollbar-thumb {
  background-color: var(--card-3-color);
  border-radius: 5px;
}

/* Geral */
* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(180deg, #eee, #fff 100px);
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.scholarium {
  font-family: "Bai Jamjuree", sans-serif;
  color: #456ba4;
}

/* Header */
header {
  display: flex;
  align-items: center;
  padding-right: 2rem;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}

header a {
  display: flex;
  align-items: center;
  margin: 2rem;
}

header span {
  font-size: 2.5rem;
  font-weight: 300;
}

/* Modal */
button {
  padding: 0.6rem 1.2rem;
  background-color: #888;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  opacity: 0.8;
  font-size: 1rem;
  transition: 0.4s;
}

button:hover {
  opacity: 1;
}

#fade,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 10;
  width: 500px;
  max-width: 90%;
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

#login-container {
  width: 400px;
  margin: auto;
  text-align: center;
}

form {
  margin-top: 30px;
}

label,
input {
  display: block;
  width: 100%;
  text-align: left;
}

label {
  font-weight: bold;
  font-size: 0.8rem;
}

input {
  border-bottom: 2px solid var(--text-color);
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

input::placeholder {
  font-family: "Bai Jamjuree";
}

input:focus {
  border-bottom: 2px solid var(--text-color);
}

#forgot-pass {
  text-align: right;
  display: block;
}

input[type="submit"] {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  color: #fff;
  background-color: var(--card-3-color);
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--card-btn-3);
  transition: 0.5s;
}

#social-container,
#social-container p {
  margin-bottom: 20px;
}

#social-container i {
  padding: 0.6rem 1.2rem;
  border-radius: 2px;
  align-items: self-start;
  color: #fff;
  cursor: pointer;
}

.fa-google {
  background-color: #db4437;
}

#register-container a {
  display: block;
  margin-bottom: 0;
}

#navbar {
  display: flex;
}

#navbar a {
  color: var(--text-color);
  font-size: 1.25rem;
  transition: 0.4s;
}

#navbar a:hover {
  text-decoration: underline;
}

/* Banner Info */
#main-title {
  text-align: center;
  padding: 2rem;
}

#main-title h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

#main-title p {
  font-size: 1.5rem;
}

#main-banner {
  background-color: var(--text-color);
  color: #fff;
  margin: 2rem;
  padding: 2rem;
  font-style: italic;
  border-radius: 5px;
  text-align: center;
}

#main-banner h2 {
  font-size: 3.5rem;
}

#main-banner p {
  font-size: 1.25rem;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  text-align: center;
}

.banner-container {
  padding: 2rem;
  line-height: 2rem;
  border: 1px solid #dadde0;
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(33, 37, 41, 0.075);
}

.banner-container h3 {
  font-size: 1.6rem;
}

#turma {
  color: var(--card-3-color);
}

#avaliativo {
  color: var(--card-2-color);
}

/* Banner de Download */
#section {
  background-color: var(--card-2-color);
  margin: 3rem;
  padding: 5rem;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(33, 37, 41, 0.075);
  text-align: center;
}

#banner-download {
  font-size: 1.6rem;
  padding-bottom: 3rem;
  color: #fff;
}

#link-btn a {
  background-color: #fff;
  border-radius: 5px;
  color: var(--card-2-color);
  padding: 0.6rem 1.2rem;
  font-weight: bold;
}

/* Footer */
#footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#about {
  padding: 3rem 2rem;
  text-align: center;
}

#about p {
  font-size: 1.1rem;
}

.footer-title {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}

.accordion {
  max-width: 600px;
  margin: 0 auto;
}

.accordion-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.accordion-header i {
  display: none;
}

.accordion-content {
  padding: 0 0.6rem;
  font-size: 0.9rem;
  line-height: 1.5;
}

.accordion-item--active .accordion-header {
  background-color: var(--card-3-color);
  color: #fff;
}

.accordion-item--active .accordion-content {
  transition: 0.5s;
  max-height: 1000px;
}

.accordion-item--closed .accordion-content {
  max-height: 0;
  overflow: hidden;
}

.accordion-content {
  transition: 0.3s;
}

#copy {
  display: flex;
  margin: 0 auto;
  padding-top: 2rem;
}

/* Responsivo */
@media (max-width: 450px) {
  /* Modal */
  #modal {
    height: 100vh;
    max-width: 100%;
    padding: 2rem;
    border-radius: 0;
  }

  form,
  input[type="submit"],
  #social-container,
  #register-container a {
    margin: 0.2rem;
  }

  input[type="submit"] {
    border-radius: 0px;
  }

  input[type="email"],
  input[type="password"] {
    margin-bottom: 10px;
  }

  label {
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }

  #social-container p {
    margin: 0.4rem;
  }

  #forgot-pass {
    margin: 16px;
  }

  #register-container a {
    font-size: 20px;
    margin: 8px;
  }

  /* Header */
  header {
    display: flex;
    flex-direction: column;
  }

  header span {
    display: none;
  }

  header img {
    width: 200px;
    height: 200px;
  }

  /* Banner */
  .banner img {
    display: none;
  }

  /* Footer */
  .accordion-header i {
    display: block;
  }
}
